@import url("https://use.typekit.net/ref4qcs.css");

* {
  box-sizing: border-box;
  font-family: futura-pt, sans-serif !important;
  text-transform: uppercase;
}

button {
  text-align: center;
  text-transform: uppercase !important;
}

.table-striped {
  background-color: rgb(99, 99, 99);
}
.table-striped>tbody>tr:nth-of-type(odd){
  background-color: rgb(82, 82, 82);
}

body {
  font-family: futura-pt, sans-serif !important;
  text-transform: uppercase !important;
}

html,
body {
  background-color: white !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* The wrapper contains all of the page's content besides the footer, which is pushed to the bottom of the page */
.wrapper {
  position: relative;
  min-height: 100%;
  padding-bottom: 130px;
  overflow: auto;
}

/* The footer is positioned at the bottom of the page */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 100px;
  background: rgb(82, 82, 82);
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  color: rgb(82, 82, 82);
}

.container {
  display: flex;
  justify-content:center;
  background-color: white !important;
}

.btn-default {
  display: inline-block !important;
}

/* The code styles the text at the bottom of the footer */
.footer > .bottom {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: rgb(82, 82, 82);
}

.navbar {
  padding: 5px;
  margin: 0;
}

/* This CSS styles the ufo icon in the navbar */
.nav-ufo {
  position: absolute;
  bottom: 5px;
  left: 150px;
  width: 35px;
  color: white;
}

/* Adding styles to the aside and filter form */
.ufo-form {
  margin-top: 50px;
}

.panel-default>.panel-heading {
  text-align: center;
  background-color: rgb(99, 99, 99);
}

.filters .panel-body {
  padding: 0;
}

.filters {
  background: red !important;
  margin-top: 10px;
}

.filters .list-group-item {
  background-color: rgb(202, 101, 40) !important;
}


select {
  display: block;
  width: 100%;
  padding: 8px;
  color: black;
  outline: none;
  margin-left: 17%
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

/* The styles for the parallax */
.hero {
  position: relative;
  height: 550;
  padding: 20px;
  margin: 0;
  background : rgb(255, 102, 0);
  background-image: url("../images/oil_gas_BW.jpg");
  /* background-attachment: fixed; */
  background-position: bottom center;
  background-size: cover;
}

.hero h1 {
  margin-top: 30px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
}

.hero p {
  font-size: 2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
}

.btn-group-lg {
  text-align: center;
  display:flex;
  justify-content:center;
}

/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9b9f8e;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #9b9f8e;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #9b9f8e;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #9b9f8e;
}

circle {
  fill: #df691a;;
  opacity: 0.55;
  stroke: white;
}
.leaf circle {
  fill: #6eff0e;
  fill-opacity: 1;
}

/* media queries which will only be activated at specific screen sizes */
@media (max-width: 800px) {
  #table-area td {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  #table-area thead {
    display: none;
  }

  #table-area tr td:first-child {
    font-size: 1.8em;
    font-weight: bold;
    background: #45461b;
  }

  #table-area tr td:last-child {
    margin-bottom: 20px;
  }

  #table-area tr td:last-child::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 20px;
    content: " ";
    background: orange;
  }

  #table-area td {
    font-size: 1.25em;
  }

  #table-area tbody td {
    display: block;
    text-align: center;
  }

  #table-area tbody td::before {
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    content: attr(data-th);
  }

  .hero h1 {
    animation: smaller-title 1.2s forwards linear;
  }
}

/* keyframe animations which will be used to animate the title */
@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 7.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@font-face{
  font-family:; 
  src: https://use.typekit.net/ref4qcs.css
}

#mapid {
  width: 1169;
  height: 300px;
}

#packid {
  width: 2000px;
  height: 180px;
}

.bar {
  fill:rgb(202, 101, 40);
  opacity: 0.8;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;