<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PIDX PRODUCT CODES</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script>
    d3version4 = d3
    window.d3 = null
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script>
    d3version3 = d3
    window.d3 = null
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.typekit.net/ref4qcs.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
crossorigin=""></script>
  <link rel="stylesheet" href="static/css/style.css">
</head>
<body style="font-family: futura-pt, sans-serif;">
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">PIDX CODES
            <img class="nav-ufo" src="static/images/PIDX_Logo_Black.png" style="width:80px;height:35px;">
          </a>
        </div>
      </div>
    </nav>
    <div class="hero text-center">
      <h1>DOWNSTREAM CODES</h1>
      <p>Search for Downtream Product Codes</p>
    </div>
    <div class="container-fluid">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item">
                        <label for="code">Enter a Code</label>
                        <input class="form-control" id="code" type="text" placeholder="">
                      </li>
                      <li class="filter list-group-item">
                        <label for="Productdef">Enter a Product Definition</label>
                        <input class="form-control" id="Productdef" type="text" placeholder="">
                      </li>  
                      <li class="filter list-group-item"> 
                        <label for="cetaneoctane">Enter Cetane Octane</label>
                        <input class="form-control" id="cetaneoctane" type="text" placeholder="">
                      </li>
                      <li class="filter list-group-item">  
                        <label for="requester">Enter requester</label>
                        <input class="form-control" id="requester" type="text" placeholder="">  
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="button" class="btn btn-default">Search</button>
                  <button id="reset-btn" type="button" class="btn btn-default">Reset</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Cetane Octane</th>
                  <th class="table-head">Code</th>
                  <th class="table-head">Comments</th>
                  <th class="table-head">Date Code Assigned</th>
                  <th class="table-head">Description</th>
                  <th class="table-head">Oxygenate Percent</th>
                  <th class="table-head">Oxygenated</th>
                  <th class="table-head">Product Definition</th>                  
                  <th class="table-head">Requester</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="col-5 m-0">
          <button role="button" id="prevButton" class="btn btn-lg btn-primary float-left">Previous 20 Results</button>
          <button role="button" id="nextButton" class="btn btn-lg btn-primary float-right">Next 20 Results</button>
        </div>
      </div>
    </div>
<div class="row text-center">
  <h1><span style="color:darkgray">PIDX Terminal Code Locations</span></h1>
</div>
<div class="row">
    <div class="col-xs-6  col-md-6">
        <svg width="1600" height="560" style="margin-left: 20%">
          <g></g>
        </svg>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script type="text/javascript" src="static/js/appd3packlayout.js"></script>
    </div>
      <script src="https://d3js.org/d3.v5.min.js"></script>
      <script type="text/javascript" src="static/js/appd3pie.js"></script>
</div>

<div class="row text-center">
  <h1><span style="color:darkgray">Amount of Product In Gallons Per Country</span></h1>
</div>

<div class="row text-center">
  <div class="col-xs-12  col-md-12">
    <div id="vis-container" class="col-md-6" style="margin-left: 17%; position: relative;">
    <script type="text/javascript" src="static/js/appd3bar.js"></script>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-xs-12  col-md-12">
    <div id="mapid" class="mapid">
      <script type="text/javascript" src="static/js/api_keys.js"></script>
      <script type="text/javascript" src="static/js/appChart.js"></script>
    </div>
  </div>
</div>
<div>
    <footer class="footer">
      <span class="bottom">PIDX International Downstream Product Codes</span>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>